.myTableText { 
  width: 100%;
  border-collapse: collapse;
  background-color: #0066ff; 
  }
.myTableText td, 
.myTableText th { 
  border: 2px solid #0000ff;
  padding: 5px; 
  }
.myTableText th { 
  font: bold 18px/1.1em Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 4px black; 
  letter-spacing: 0.1em; 
  background-color: #0000ff; 
  color:#0066ff; 
  }
.myTableText td { 
  font: normal 14px/1.5em Goudy, Georgia, serif;
  color: #0000ff; 
  }
.myTableText td a:link { 
  color: #000000;
  text-decoration: none; 
  }
.myTableText td a:visited { 
  color: #000000; 
  }
.myTableText td a:hover { 
  color: #FF4500;
  text-decoration: underline; 
  }
.myTableText td a:active { 
  color: #FF0000; 
  }
p { color: #000000; font-famaly: sans-serif; text align: middle }
p.citaat { font-style: italic } 
#e {color: cyan;}
#I {color: Purple;}
 body {margin-top:0px;}
 #container {margin-left:auto;margin-right:auto;width:100%;}
 #menu {padding:5px;width:15%;float:left;}
 #inhoud {padding:5px;width:70%;float:left;}
 #side {padding:5px;width:15%;float:right;}
</style>
<title></title>
</head>
<body background="http://www.psdgraphics.com/file/old-paper.jpg">

<h1 align="center" id="e"><em>Ellenor</em></h1>
<table class="myTableText" style="width:100%;text-align:left;background-color:##3366ff;">
<tr>
<td><a href="Home.html">Home</a></th>
<td><a href="INF.html">Information</a></th>
<td><a href="Ranks.html">Ranks</a></th>
<td><a href="Minigames.html">Minigames</a></th>
<td><a href="TW.html>The World</a></th>
</tr>
</table>
</body>
</html>
